section.row {
  display: flex;
  width: 50%;
  margin: auto;
}

section .col {
  flex: 1;
  padding: 10px 20px;
}

section .col label,
section .col input {
  display: inline-block;
  width: 100%;
  padding: 5px 0;
}

section .col label {
  font-size: 0.8rem;
  font-weight: bold;
}

section .col input {
  font-size: 0.9rem;
  color: #666666;
  padding: 2px 5px;
  border: 1px solid #f1f1f1;
  height: 30px;
  border-radius: 5px;
}

section .col .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  border-radius: 5px;
  background: #999;
  outline: none;
  opacity: 0.8;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

section .col .slider:hover {
  opacity: 1;
}

section .col .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ff9800;
  cursor: pointer;
}

section .col .slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ff9800;
  cursor: pointer;
}

section .col.align-right {
  display: flex;
  flex-direction: row-reverse;
}

section .col button {
  background-color: #795548;
  color: #fff;
  border-color: #795548;
  padding: 8px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}
